---
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import Firebase from "./icons/Firebase.astro";
import Vite from "./icons/Vite.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Js from "./icons/Js.astro";
import Css from "./icons/Css.astro";
import Html from "./icons/Html.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-white text-black",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#003159] text-white",
    icon: Firebase,
  },
  VITE: {
    name: "Vite",
    class: "bg-[#003159] text-white",
    icon: Vite,
  },

  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#003159] text-white",
    icon: Bootstrap,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: Css,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: Html,
  },
  JS: {
    name: "JS",
    class: "bg-[#003159] text-white",
    icon: Js,
  },
};
const PROJECTS = [
  {
    title: "Cotizador de Seguros",
    description:
      "Simulador de un cotizador de seguros. Almacenamiento en una BD de Firebase",
    link: " https://cotizador-sgallego.netlify.app",
    github: "https://github.com/SebastianGallego/cotizador-integrador",
    image: "/cotizador.jpg",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.FIREBASE, TAGS.VITE],
  },
  {
    title: "Tienda Decatlon",
    description: "Simulador de eComerce de Productos Decatlon.",
    link: " https://app-decathlon.netlify.app/",
    github: "https://github.com/SebastianGallego/App-Decatlhon",
    image: "/decathlon.jpg",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS, TAGS.BOOTSTRAP],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class="max-w-5xl p-6 mb-10 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-700 dark:border-gray-700 ">
      <h3 class="text-2xl font-semibold text-blue-800 dark:text-blue-300 mb-2 ">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty text-gray-400">{description}</p>
      <img
        loading="lazy"
        class="rounded shadow-xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
      <ul class="flex gap-x-2 flex-row mt-4">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
    </article>
  ))
}
